body {
    margin: 0;
    background-color: #F4F4F4;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#hero {
    width: auto;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #6943FF;
}

h1 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #FFFFFF;
    
}

#input-el {
    display:block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 25px 30px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
    background-color: #6943FF;
    color: white;
    text-align: center;
  
}

#convert-btn {
    padding: 15px 35px;
    border-radius: 5px;
    border: 0;
    background-color: #FFFFFF;
    color: #3D3D3D;
}

#container {
    width: auto;
    margin-bottom: 30px;
}

#meter-cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 30px 30px;
    color: #5A537B;
}

#volume-cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 30px 30px;
    color: #5A537B;
}

#mass-cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 30px 30px;
    color: #5A537B;
    
}

p {
    color: #353535;
}